section#slider {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
}

section#slider .slider-slide {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    background: linear-gradient(180deg, #C7AF93 0%, rgba(207, 184, 157, 0.91) 27.5%, rgba(216, 193, 168, 0.70691) 74%, rgba(233, 211, 189, 0.305564) 90%, rgba(245, 224, 205, 0) 100%);
    opacity: 0;
    z-index: -1;
    transition: opacity 1s ease-out;
}

section#slider div.active-slider {
    opacity: 1;
    z-index: 1;
}

/* SLIDER PRODUCT INFORMATION */
section#slider .slider-product-information {
    padding: 120px 80px;
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.slider-product-information p,
section#collection .introduction-collection p,
.histoire-description p {
    font-size: var(--fz-25);
    letter-spacing: 0.024em;
    font-weight: var(--fw-light);
    line-height: 150%;
}

.slider-product-information a,
section#collection .introduction-collection a,
section#collection .description-collection a,
.histoire-description a {
    font-size: var(--fz-20);
    letter-spacing: 0.024em;
    font-weight: var(--fw-medium);
    text-decoration: none;
    color: var(--secondary-color);
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 0;
    transition: padding .3s ease-in-out;
    translate: none;
    transform: translate(0px, 0px);
    min-width: fit-content;

}

.slider-product-information a:hover,
section#collection .introduction-collection a:hover,
section#collection .description-collection a:hover,
.histoire-description a:hover {
    padding-left: 34px;
}

.slider-product-information a:hover::before,
section#collection .introduction-collection a:hover::before,
section#collection .description-collection a:hover::before,
.histoire-description a:hover::before {
    width: 10px;
    transform-origin: right;
}

.slider-product-information a::before,
section#collection .introduction-collection a::before,
section#collection .description-collection a::before,
.histoire-description a::before {
    content: '';
    width: 44px;
    height: 2px;
    background: var(--secondary-color);
    transition: width .3s ease-in-out;
    margin-right: 10px;
}

section#slider .slider-product-title h2 {
    font-family: var(--libre-bodoni-font);
    font-size: var(--fz-60);
    letter-spacing: 0.024em;
    font-weight: var(--fw-regular);
    text-align: center;
}

section#slider .slider-product-title h3 {
    display: block;
    font-family: var(--ubuntu-font);
    font-size: var(--fz-30);
    font-style: italic;
    letter-spacing: 0.024em;
    font-weight: var(--fw-light);
    text-align: center;
}

/* END SLIDER PRODUCT INFORMATION */

.slider-product-image {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.slider-product-image img {
    width: 40% !important;
    position: absolute;
    z-index: 9;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 1s ease-out;
    opacity: 0;
}

.slider-product-image img.active-slider-image {
    opacity: 1;}

.slider-product-image svg {
    width: 100% !important;
    max-height: 100vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

#minutes-hand,
#hours-hand {
    transform-origin: center;
    transition: transform 3s;
}

.slider-indicators {
    width: 60px;
    height: 30%;
    position: absolute;
    z-index: 3;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider-indicators button {
    padding: 10px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
}

.slider-indicators button div {
    width: 2px;
    height: 100%;
    background: rgba(0, 0, 0, 0.300);
    position: relative;
}

.slider-indicators button div span {
    display: block;
    width: 2px;
    height: 0%;
    background: rgba(0, 0, 0, 0.300);
}

.slider-indicators button div.active span {
    transition: height 15s linear;
    height: 100%;
    background: rgba(0, 0, 0, 1);
}

/* SECTION COLLECTION */
section#collection {
    margin: 60px 0;
    padding: 0 80px;
    display: flex;
    gap: 60px;
}

section#collection .introduction-collection {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 40%;
}

section#collection .introduction-collection h2,
.histoire-description h2 {
    font-size: var(--fz-50);
    letter-spacing: 0.024em;
    font-weight: var(--fw-light);

}

section#collection .introduction-collection h2 span,
.histoire-description h2 span {
    display: block;
    font-size: var(--fz-60);
    font-weight: var(--fw-regular);
    font-family: var(--libre-bodoni-font);
}

.introduction-collection-description p:first-of-type,
.histoire-description p:first-of-type {
    margin-bottom: 20px;
}

section#collection .container-collection {
    display: flex;
    overflow: scroll;
    width: 60%;
}

/* COLLECTION */
.collection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    min-width: 460px;
    width: 460px;
    padding: 0 30px 30px 30px;
}

.collection img {
    width: 100%;
}

.description-collection {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.collection .description-collection h3 {
    font-size: var(--fz-25);
    font-weight: var(--fw-regular);
    letter-spacing: 0.024em;
}

.collection .description-collection p {
    font-size: var(--fz-20);
    letter-spacing: 0.024em;
    font-weight: var(--fw-light);
    line-height: 150%;
}

/* END COLLECTION */
/* END SECTION COLLECTION */
/* HISTOIRE SECTION */
section#histoire {
    margin: 60px 0;
    padding: 0 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section#histoire img {
    max-width: 800px;
    width: 100%;
    min-width: 500px;
}

section#histoire .histoire-description {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* END HISTOIRE SECTION */
@media(max-width: 1540px) {
    section#slider .slider-product-title h2 {
        font-size: var(--fz-50);
    }

    section#slider .slider-product-title h3 {
        font-size: var(--fz-30);
    }

    .slider-product-information p,
    section#collection .introduction-collection p,
    .histoire-description p {
        font-size: var(--fz-20);
    }

    section#collection .introduction-collection h2,
    .histoire-description h2 {
        font-size: var(--fz-40);
    }

    section#collection .introduction-collection h2 span,
    .histoire-description h2 span {
        font-size: var(--fz-50);
    }

    .collection .description-collection h3 {
        font-size: var(--fz-22);
    }
}

@media(max-width: 1500px) {
    section#slider .slider-product-information {
        padding: 120px 40px;
    }

    section#collection,
    section#histoire {
        padding: 0 40px;
    }

    .collection {
        min-width: 380px;
        width: 380px;
    }

    section#histoire img {
        max-width: 700px;
    }
}

@media(max-width: 1000px) {

    /* SLIDER */
    section#slider .slider-product-information {
        padding: 120px 40px;
        width: 100%;
        justify-content: flex-end;
    }

    section#slider .slider-product-title h2 {
        font-size: var(--fz-40);
    }

    section#slider .slider-product-title h3 {
        font-size: var(--fz-20);
    }

    .slider-product-information p,
    section#collection .introduction-collection p,
    .histoire-description p {
        font-size: var(--fz-18);
    }

    .slider-product-information a,
    section#collection .introduction-collection a,
    section#collection .description-collection a,
    .histoire-description a {
        font-size: var(--fz-18);

    }

    .slider-product-image {
        width: 100%;
        height: 55%;
        top: 8%;
    }

    .slider-product-image img {
        max-width: 400px;
        min-width: 200px;
    }

    /* END SLIDER */
    /* SECTION COLLECTION */
    .collection {
        min-width: 300px;
        width: 300px;
    }

    .collection .description-collection h3 {
        font-size: var(--fz-20);
    }

    section#collection .introduction-collection h2,
    .histoire-description h2 {
        font-size: var(--fz-30);
    }

    section#collection .introduction-collection h2 span,
    .histoire-description h2 span {
        font-size: var(--fz-40);
    }

    .collection .description-collection p {
        font-size: var(--fz-18);

    }

    /* END SECTION COLLECTION */
    section#histoire img {
        max-width: 600px;
        min-width: 360px;
    }



}

@media(max-height: 1100px) and (max-width: 1000px) {

    /* SLIDER */
    section#slider .slider-product-information {
        padding: 120px 40px 40px 40px;
    }

    .slider-product-image svg {
        max-height: 80vh;
    }

    /* END SLIDER */
}

@media(max-height: 900px) and (max-width: 1000px) {

    /* SLIDER */
    section#slider .slider-product-information {
        padding: 120px 40px 20px 40px;
    }

    .slider-product-image img {
        max-width: 320px;
    }

    /*  END SLIDER */
}
@media(max-width: 850px) {
    /* SECTION COLLECTION */
    section#collection {
        gap: 40px;
      }
    .collection {
        padding: 0 20px 20px 20px;
    }


    /* END SECTION COLLECTION */
}
@media(max-height: 800px) and (max-width: 1000px) {

    /* SLIDER */
    section#slider .slider-product-title h2 {
        font-size: var(--fz-30);
    }

    section#slider .slider-product-title h3 {
        font-size: var(--fz-18);
    }

    section#slider .slider-product-information {
        gap: 20px;
    }

    .slider-product-information p,
    section#collection .introduction-collection p,
    .histoire-description p {
        font-size: var(--fz-16);
    }
    /* END SLIDER */
}
@media(max-width: 770px) {
    section#slider .slider-product-information {
        padding: 120px 20px 20px 20px;
    }
    section#collection, section#histoire {
        padding: 0 20px;
      }
}
@media(max-width: 750px) {
    section#collection {
        flex-direction: column;
    }
    section#collection .introduction-collection, section#collection .container-collection {
        width: 100%;
    }
}
@media(max-width: 700px) {
    section#histoire {
        flex-direction: column;
        gap: 40px;
    }
    section#histoire img {
        max-width: 450px;
        min-width: unset;
      }
}
@media(max-height: 750px) and (max-width: 1000px) {
    
    .slider-product-image img {
        max-width: 280px;
    }
}

@media(max-height: 600px) and (max-width: 1000px) {

    /* SLIDER */
    section#slider .slider-product-information {
        gap: 10px;
    }

    .slider-product-information p,
    section#collection .introduction-collection p,
    .histoire-description p {
        font-size: var(--fz-14);
    }

    .slider-product-image {
        top: 6%;
    }

    /* END SLIDER */
}

@media(max-width: 450px) {
    .slider-product-image svg {
        min-width: 480px;
    }
}

@media(max-width: 370px) {
    .slider-product-image svg {
        min-width: 400px;
    }
}