@import url("https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital@0;1&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* COLORS */
  --primary-color: #fff;
  --secondary-color: #000;
  --test-background: purple;

  /* FONTS */
  --ubuntu-font: "Ubuntu", sans-serif;
  --libre-bodoni-font: "Libre Bodoni", serif;

  /* FONTS SIZE */
  --fz-16: 1rem;
  --fz-18: 1.125rem;
  --fz-20: 1.25rem;
  --fz-22: 1.375rem;
  --fz-24: 1.5rem;
  --fz-25: 1.563rem;
  --fz-30: 1.875rem;
  --fz-40: 2.5rem;
  --fz-50: 3.125rem;
  --fz-60: 3.75rem;
  /* FONTS WEIGHT */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
}
/* ALL PAGES */
body {
  font-family: var(--ubuntu-font);
}
.full-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--secondary-color);
  opacity: 0;
  transition: opacity .3s ease-out;
}
.hide {
  display: none!important;
}
.no-scroll {
  overflow: hidden;
}
/* NAVBAR */
nav {
  width: 100%;
  height: 72px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  transition: transform .3s ease-out, background-color .2s ease-out;
}
nav.scroll {
  transform: translateY(-100%);
}
nav a, .container-base-nav-links button  {
    color: var(--secondary-color);
    text-decoration: none;
    padding: 10px 5px;
    background: none;
    border: none;
    cursor: pointer;
}
.container-nav-links, .user-nav-links, .container-base-nav-links, .container-watches-nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
}
.container-nav-links a, .container-base-nav-links button  {
  font-family: var(--ubuntu-font);
  font-size: var(--fz-16);
  font-weight: var(--fw-regular);
  letter-spacing: 2.4px;
  text-transform: uppercase;
}
.container-nav-links >a {
  display: none;

}
.logo-nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -41%);
  z-index: 100;
}
#logo-mobile, .burger-btn, .container-base-nav-links button  {
  display: none;
}

@media(max-width: 1500px) {
  nav {
    padding: 20px 40px;
  }
  .burger-btn, .container-nav-links a svg {
    display: block;
  }
  .burger-btn button {
    background: none;
    border: none;
    height: 40px;
    width: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .user-nav-links a:first-of-type {
    display: none;
  }
  .container-nav-links {
    position: absolute;
    left: -65%;
    top: 0;
    background: var(--primary-color);
    height: 100vh;
    width: 65%;
    z-index: -1;
    padding: 100px 40px 10px 40px;
    align-items: flex-start;
    gap: 0;
    flex-direction: column;
    justify-content: space-between;
    transition: transform .3s ease-out;
  }
  .open-links {
    transform: translateX(100%);
  }
  .container-nav-links a, .container-base-nav-links button{
    font-size: var(--fz-24);
    font-weight: var(--fw-light);
    text-transform: none;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .container-nav-links >a {
    font-weight: var(--fw-regular);
    text-transform: uppercase;
    font-size: var(--fz-16);
  }
  .container-base-nav-links, .container-watches-nav-links {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media(max-width: 770px) {
  nav {
    padding: 20px;
  }
  #logo-mobile {
    display: block;
  }
  #logo-desktop {
    display: none;
  }
  .logo-nav {
    transform: translate(-50%, -50%);
  }
  .container-nav-links {
    left: -100%;
    width: 100%;
    padding: 100px 20px 10px 20px;
  }
  .container-nav-links a, .container-base-nav-links button{
    font-size: var(--fz-22);
    font-weight: var(--fw-light);
    text-transform: none;
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
/* END NAVBAR */

/* FOOTER */
  footer {
    padding: 60px 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  footer > a {
    width: fit-content;
    padding: 5px;
  }
  .footer-element, .footer-social-element {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: fit-content;
  }
  .footer-element button, .footer-social-element button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    font-family: var(--ubuntu-font);
    font-size: var(--fz-20);
    font-weight: var(--fw-regular);
  }
  .footer-element button span {
    display: none;
  }
  .container-footer-elements {
    display: flex;
    justify-content: center;
    gap: 10%;
  }
  .container-elements-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .container-elements-links a{
    text-decoration: none;
    color: var(--secondary-color);
    font-family: var(--ubuntu-font);
    font-size: var(--fz-20);
    font-weight: var(--fw-light);
    width: fit-content;
  }
  .footer-social-element > div {
    flex-direction: row;
  }
  .footer-bottom {
    margin-top: 60px;
    display: flex;
    align-items: center;
  }
  .footer-bottom p {
    margin-left: auto;
    font-size: var(--fz-16);
    font-weight: var(--fw-light);
  }
  .links-bottom-footer {
    display: flex;
    gap: 30px;
  }
  .links-bottom-footer a {
    color: var(--secondary-color);
    font-family: var(--ubuntu-font);
    font-size: var(--fz-16);
    font-weight: var(--fw-light);
    text-decoration: none;
  }

  @media(max-width: 1500px) {
    footer {
      padding: 60px 40px;
      
    }
  }
  @media(max-width: 1300px) {
    .footer-bottom {
      flex-direction: column;
      gap: 40px;
    }
    .footer-bottom p {
      margin-left: 0;
    }
  }
  @media(max-width: 1000px) {
    footer {
      padding: 40px;
      
    }
    .footer-bottom {
      margin-top: 0;
    }
    footer > a {
      width: fit-content;
      padding: 5px;
      margin: 0 auto;
    }
    .container-footer-elements {
      flex-direction: column;
      gap: 0;
    }
    .footer-element, .footer-social-element {
      margin-bottom: 20px;
      height: 46.5px; 
      overflow: hidden;
      transition: height .3s ease-out;
    }
    .footer-element button, .footer-social-element button {
      width: 100%;
      border-bottom: 0.5px solid black;
      padding: 10px 0;
      cursor: pointer;
    }
    .footer-element button span {
      display: block;
      margin-left: auto;
      transition: transform .3s ease-out;
    }
    .footer-element.expanded button span{
      transform: rotate(180deg);
    }
    .footer-social-element {
      height: fit-content;
    }
    .footer-social-element > button {
      border: none;
    }
  }
  @media(max-width: 850px) {
    footer {
      gap: 40px;
    }
    .footer-element button, .footer-social-element button {
      font-weight: var(--fw-medium);
    }
    .footer-element button, .footer-social-element button, .container-elements-links a{
      font-size: var(--fz-16);
    }
    .footer-bottom {

      align-items: flex-start;
    }
    .links-bottom-footer {
      flex-direction: column;
      gap: 20px;
    }
    
  }
  @media(max-width: 770px) {
    footer {
      padding: 40px 20px;

    }
  }
/* END FOOTER */
/* END ALL PAGES */





