{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!
{% endblock %}

{% block body %}

	<pre>
        {{ dump(products[0].category[0].discounts[0].percentageDiscount) }}
    </pre>

	{% for product in products %}
		<h2>{{ product.name }}</h2>
		{% for productImage in product.productImages %}
			<img src="{{ vich_uploader_asset(productImage, 'imageFile') }}" alt="{{ productImage.name }}">
		{% endfor %}
	{% endfor %}
{% endblock %}
