{% extends 'base.html.twig' %}

{% block title %}Charles Allard | Politique de confidentialités
{% endblock %}

{% block stylesheets %}
	<link href="{{ asset('css/legal.css') }}" rel="stylesheet"/>
{% endblock %}
{% block body %}
	<section>
		<h1>Politique de
			<span>confidentialités</span>
		</h1>
        <p>Ce site web a été réalisé dans le cadre de la préparation à l'examen du Titre Professionnel "Développeur Web et Web Mobile". Toutes les informations, les produits et autres contenus présents sur ce site sont fictifs et ont été créés à des fins pédagogiques et non commerciales. Nous vous remercions de votre compréhension et vous invitons à naviguer sur le site à des fins d'évaluation et d'apprentissage.</p>
        <p>Charles Allard s'engage à protéger et respecter votre vie privée. Notre politique de confidentialité explique comment nous collectons, utilisons et protégeons vos données personnelles lorsque vous visitez notre site web ou utilisez nos services.</p>
        <h2>Collecte des informations</h2>
        <p>Nous collectons des informations personnelles lorsque vous vous inscrivez sur notre site, passez une commande, ou remplissez un formulaire. Les informations collectées peuvent inclure votre nom, votre adresse e-mail, votre adresse postale et vos informations de paiement.</p>
        <h2>Utilisation des informations</h2>
        <p>Nous utilisons les informations que nous collectons pour traiter vos commandes, personnaliser votre expérience utilisateur, améliorer notre site web et vous envoyer des communications marketing. Nous ne vendons, n'échangeons, ni ne transférons vos informations personnelles à des tiers sans votre consentement explicite, sauf dans les cas prévus par la loi.</p>
        <h2>Protection des informations</h2>
        <p>Nous mettons en œuvre des mesures de sécurité appropriées pour protéger vos informations personnelles contre tout accès non autorisé, toute altération, toute divulgation ou destruction. Cela inclut des protocoles de sécurité standard pour protéger l'intégrité de vos informations.</p>
        <h2>Consentement</h2>
        <p>En utilisant notre site, vous consentez à notre politique de confidentialité et acceptez ses conditions. Si vous avez des questions ou des préoccupations concernant notre politique de confidentialité, veuillez nous contacter à Charles Allard.</p>
        <p>Date d'entrée en vigueur : 01/05/2024</p>
	</section>
{% endblock %}
