{% extends 'base.html.twig' %}

{% block title %}Charles Allard | Conditions d'utilisation
{% endblock %}

{% block stylesheets %}
	<link href="{{ asset('css/legal.css') }}" rel="stylesheet"/>
{% endblock %}
{% block body %}
	<section>
		<h1>Conditions
			<span>d'utilisation</span>
		</h1>
        <p>Ce site web a été réalisé dans le cadre de la préparation à l'examen du Titre Professionnel "Développeur Web et Web Mobile". Toutes les informations, les produits et autres contenus présents sur ce site sont fictifs et ont été créés à des fins pédagogiques et non commerciales. Nous vous remercions de votre compréhension et vous invitons à naviguer sur le site à des fins d'évaluation et d'apprentissage.</p>
        <p>En accédant à ce site web, vous acceptez de vous conformer aux présentes conditions d'utilisation, à toutes les lois et réglementations applicables, et vous acceptez d'être responsable du respect des lois locales applicables. Si vous n'acceptez pas ces termes, vous n'êtes pas autorisé à utiliser ou accéder à ce site.</p>
        <h2>Utilisation du site</h2>
        <ol>
            <li>Vous acceptez de ne pas utiliser ce site à des fins illicites ou interdites par les présentes conditions d'utilisation.</li>
            <li>Vous acceptez de ne pas interférer avec le fonctionnement normal du site, y compris mais sans s'y limiter, par le biais de piratage, de spamming, de propagation de virus ou d'autres moyens destructeurs.</li>
            <li>Vous acceptez de ne pas utiliser ce site pour collecter ou stocker des données personnelles sur d'autres utilisateurs sans leur consentement explicite.</li>
        </ol>
        <h2>Contenu et Propriété Intellectuelle</h2>
        <ol>
            <li>Tout le contenu affiché sur ce site, y compris mais sans s'y limiter, le texte, les graphiques, les logos, les boutons, les images, les clips audio, les téléchargements numériques et les compilations de données, est la propriété de <span>Charles Allard</span> ou de ses fournisseurs de contenu, et est protégé par les lois sur le droit d'auteur.</li>
            <li>Vous acceptez de ne pas reproduire, distribuer, modifier, afficher publiquement, exécuter publiquement, publier, télécharger, transmettre ou exploiter de quelque manière que ce soit tout contenu, en tout ou en partie, sans l'autorisation préalable écrite de <span>Charles Allard</span>.</li>
        </ol>
        <h2>Limitation de responsabilité</h2>
        <ol>
            <li>Dans toute la mesure permise par la loi, <span>Charles Allard</span> décline toute responsabilité quant à l'exactitude, à l'exhaustivité ou à la pertinence du contenu de ce site.</li>
            <li><span>Charles Allard</span> ne sera en aucun cas responsable de tout dommage direct, indirect, accessoire, spécial, consécutif ou punitif résultant de l'utilisation ou de l'incapacité à utiliser ce site, même si <span>Charles Allard</span> a été informée de la possibilité de tels dommages.</li>
        </ol>
        <h2>Modifications des Conditions d'utilisation</h2>
        <p><span>Charles Allard</span> se réserve le droit de modifier ces conditions d'utilisation à tout moment. Il est de votre responsabilité de consulter régulièrement ces conditions pour être informé de toute modification. En continuant à utiliser ce site après toute modification, vous acceptez d'être lié par les conditions d'utilisation modifiées.</p>
        <p>Si vous avez des questions ou des préoccupations concernant ces conditions d'utilisation, veuillez nous contacter à <a href="mailto:contact@charlesallard.com">contact@charlesallard.com</a>.</p>
        <p>Date d'entrée en vigueur : 01/05/2024</p>
	</section>
{% endblock %}
