{% extends 'base.html.twig' %}

{% block title %}Charles Allard Error Order
{% endblock %}

{% block stylesheets %}
	<link href="{{ asset('css/order.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
	<h1>Erreur</h1>
{% endblock %}
