{% extends 'base.html.twig' %}

{% block title %}Charles Allard | Success Order
{% endblock %}

{% block stylesheets %}
	<link href="{{ asset('css/order.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <section class="order">
        <h1 class="title-success">Félicitation</h1>
        <p>Votre commande à bien été prise en compte.</p>
        <a href="{{path('app_home')}}">
            Retour à la boutique
            <svg width="20" height="21" viewbox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_324_848)">
                    <path d="M9.83755 20.2318L17.626 12.4434L16.7037 11.521L8.91524 19.3095L9.83755 20.2318Z" fill="white"/>
                    <path d="M18.9078 11.4707L19.8301 10.5483L9.88947 0.607729L8.96715 1.53004L18.9078 11.4707Z" fill="white"/>
                </g>
                <defs>
                    <clipPath id="clip0_324_848">
                        <rect width="20" height="20" fill="white" transform="translate(0 0.555664)"/>
                    </clipPath>
                </defs>
            </svg>
        </a>
    </section>
{% endblock %}
